@font-face {
    font-family: avenir;
    src: local(avenir), url('avenir.ttc') format('opentype');
}

@font-face {
    font-family: anonymous pro;
    src: local(anonymous pro), url('anonymous pro.ttf') format('opentype');
}

/*////////// GLOBAL //////////*/

body {
  font-size: 100%;
  cursor: crosshair;
}

h1 {
  font-family: avenir, helvetica, arial, sans-serif;
  color: #7a7a7a;
  font-size: 570%;
}

h3 {
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 1.7em;
}

h4 {
  font-family: anonymous pro, times, serif;
  font-size: .95em;
}

figure {
  margin: 0 0 10px;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}


/*////////// BACKGROUNDS //////////*/


/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

#gem_demo {

}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixer {
  position: fixed;
  width: 100%;
  z-index : 1;
}

.wrapper_blocker {
  position: fixed;
  top: 0;
  background: white;
  height: 100px;
  width: 100%;
  z-index: 1;

}

/*/////// LAYOUT ////////*/

.wrapper {
  position: relative;
  top: 100px;
  width: 550px;
  margin: 50px auto;
}

.wrapper p {
  font-family: anonymous pro, times, serif;
  font-size: .90em;
  line-height: 1.2em;
}

#donpic {
  position: fixed;
  top: 30px;
  left: 40px;
  width: 120px;
  z-index: 2;

}

/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 163px;
  right: 20px;
  width: 40px;
  z-index: 2;
}

.social_links {
    width: 20px;
    height: 18px;
    margin: 5px 15px -4px 0;
}


/*////////// NAVBAR //////////*/

#navbar_home {
  position: fixed;
  top: 13%;
  left: 7%;
  width: 40%;
}

#navbar_home nav a {
  display: inline-block;
  width: 20%;
  text-transform: lowercase;
  font: .95em avenir, helvetica, Arial, sans-serif;
  color: #7a7a7a;
  text-align: center;
  text-decoration: none;
}

#navbar_home nav a.selected {
  background: #333;
  color: white;
}

#navbar_home nav a:hover {
  color: #04adcc;
}

#navbar {
  border-bottom: 1.5px solid;
  border-color: #04adcc;
  margin: 25px 0 0 0;
}

.links {
  margin: 0 0 0 120px;
}

#navbar nav a {
  display: inline-block;
  width: 7%;
  text-transform: lowercase;
  font: .95em avenir, helvetica, Arial, sans-serif;
  color: #7a7a7a;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 30px;
}

#navbar nav a.selected {
  background: #333;
  color: black;
}

#navbar nav a:hover {
  color: #04adcc;
}


/*////////// LOGO //////////*/

.logo_type {
  position: absolute;
  top: 43%;
  left: 67.5%;
}

#logo_type_1 {
  line-height: 100%;
}

#logo_type_2 {
  position: absolute;
  top: 77%;
  line-height: 100%;
}

.logo_type_not_home {
  position: fixed;
  top: 66%;
  left: 8%;
}

/*////////// FOOTER //////////*/

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center; 
  font-size: 0.75em;
  padding: 10px 0;
  background: #919191;
  border-top: 1px solid;
  border-color: #04adcc;
}



